.stats-block-1 {
  background-color: #1eb5e7;
  height: 40px;
  margin-top: 20px;
  text-align: center;
}

.stats-block-2 {
  background-color: #273e72;
  height: 40px;
  margin-top: 20px;
  text-align: center;
}

.shows-detail {
  font-size: 20px;
  margin: 10px;
  color: aliceblue;
}
/* ========================= friendlist ========================= */

.card-user-card {
  border-radius: 50%;
}

/* ========================= footer ========================= */

h4 > a {
  margin-right: 10px;
  margin-left: 10px;
  color: #56c6aa;
}

h4 > a:hover {
  color: #2cc2f1;
}

footer {
  margin-top: 200px;
  text-align: center;
}

/* =========================  ========================= */
