{% extends 'header.html' %} {% block content %}

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <img src="/static/img/flixlist_logo.png" alt="..." class="img-fluid" />
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <div class="dropdown">
        <button
          type="button"
          class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          style="
            background-color: #e50914;
            margin-bottom: 10px;
            margin-top: 10px;
          "
        >
          {{menu_item}}
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a
            class="dropdown-item"
            href="{{url_for('flixlist', menu_item='Currently Watching')}}"
            >Currently Watching</a
          >
          <a
            class="dropdown-item"
            href="{{url_for('flixlist', menu_item='Completed')}}"
            >Completed</a
          >
          <a
            class="dropdown-item"
            href="{{url_for('flixlist', menu_item='On Hold')}}"
            >On Hold</a
          >
          <a
            class="dropdown-item"
            href="{{url_for('flixlist', menu_item='Dropped')}}"
            >Dropped</a
          >
          <a
            class="dropdown-item"
            href="{{url_for('flixlist', menu_item='Plan to Watch')}}"
            >Plan to Watch</a
          >
          <a
            class="dropdown-item"
            href="{{url_for('flixlist', menu_item='All Shows')}}"
            >All Shows</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-auto">
      <form class="form-inline">
        <input
          class="form-control form-control-lg"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button
          class="btn btn-primary btn-lg"
          type="submit"
          style="
            background-color: #e50914;
            margin-bottom: 10px;
            margin-top: 10px;
          "
        >
          Search
        </button>
      </form>
    </div>
  </div>
  {% for row in range(rows) %}
  <div class="row justify-content-center">
    {% for col in range(4) %}
    <div class="col">
      <div class="card project_card" style="width: auto">
        <img
          src="/static/img/construction.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Movie (1995)</h5>
          <span class="badge badge-pill badge-success">Currently Watching</span>
          <a href="#" class="btn btn-primary" style="background-color: #e50914"
            >Details</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endblock %}
