{% extends 'header.html' %} {% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <div class="card project_card" style="width: 18rem">
        <img
          src="/static/img/construction.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Movie (1995)</h5>
          <p class="card-text">Platform</p>¨
          <p class="card-text">Personal rating</p>
          <p class="card-text">Rating: </p>
          <p class="card-text">TV Show </p>
          <p class="card-text">Tags </p>
          <a href="#" class="btn btn-primary" style="background-color: #E50914;">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card project_card" style="width: 18rem">
          <img
            src="/static/img/construction.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Movie (1995)</h5>
            <p class="card-text">Platform</p>¨
            <p class="card-text">Personal rating</p>
            <p class="card-text">Rating: </p>
            <p class="card-text">TV Show </p>
            <p class="card-text">Tags </p>
            <a href="#" class="btn btn-primary" style="background-color: #E50914;">Go somewhere</a>
          </div>
        </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col">
      <div class="card project_card" style="width: 18rem">
        <img
          src="/static/img/construction.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Movie (1995)</h5>
          <p class="card-text">Platform</p>¨
          <p class="card-text">Personal rating</p>
          <p class="card-text">Rating: </p>
          <p class="card-text">TV Show </p>
          <p class="card-text">Tags </p>
          <a href="#" class="btn btn-primary" style="background-color: #E50914;">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card project_card" style="width: 18rem">
          <img
            src="/static/img/construction.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Movie (1995)</h5>
            <p class="card-text">Platform</p>¨
            <p class="card-text">Personal rating</p>
            <p class="card-text">Rating: </p>
            <p class="card-text">TV Show </p>
            <p class="card-text">Tags </p>
            <a href="#" class="btn btn-primary" style="background-color: #E50914;">Go somewhere</a>
          </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}