{% extends 'header.html' %} {% block content %}

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <h1>FriendFlix</h1>
    </div>
  </div>
  <!-- 
  <div class="row justify-content-md-center">
    <div class="col-md-auto">

    </div>
  </div>
  -->
  {% for row in range(rows) %}
  <div class="row justify-content-center">
    {% for col in range(7) %}
    <div class="col">
      <div class="card-user-card" style="width: auto">
        <img
          src="/static/img/construction.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">User</h5>
          <p class="card-text">Last active:</p>
          <a href="#" class="btn btn-primary" style="background-color: #e50914"
            >View FlixList</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endblock %}
